.squares-container{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;

 
}

.square {
  border: 1px solid rgb(255, 255, 255);
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  height: 100px;
  padding: 31px;
  text-align: center;
  width: 100px;
  margin-right: -1px;
  margin-top: -1px;
  cursor: pointer;
}

.square{
  color: rgb(6, 218, 247);
  border-radius: 5px;
}



