.wrapper {
  width: 60%;
  display: table;
  margin: 0 auto;
  align-items: center;
  padding: 5px;
  background: linear-gradient(180deg, #658cf6 0%, #999ddd 100%);
  border-radius: 5px;
}

.search-engine input {
  width: 70%;
  height: 40px;
  border: 1px solid;
  border-radius: 8px;
  padding: 1px 15px;
  font-size: 16px;
  outline: none;
  background-color: white;
  margin-right: 5px;
}

.search-engine button {
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  padding: 10px 10px;
}

.city-name h2 {
  font-size: 47px;
}

#temp {
  font-size: 36px;
  font-weight: bold;
}

.search-engine{
    padding: 2px;
}
